body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: #23252C;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  display: flex;
  padding: 5rem;
  width: fit-content;
  background: white;
  overflow: scroll;
  border-radius: 2rem;
}

.Card {
  position: relative;
  width: max-content;
  margin-right: 2rem;
}

.Status {
  margin: 1rem;
  position: absolute;
  background: white;
  padding: 4px 6px;
  border-radius: .25rem;
  font-size: 1rem;
  z-index: 1;
}

img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 2rem black .5;
}

.Star {
  color: #FE395C;
}

.ReviewCount, .Location {
  color: #918E9B;
}

.Bold {
  font-weight: bold;
}